body {
    font-family: 'Poppins', sans-serif;
}

main {
    width: 940px;
    margin: auto;
}

form {
    margin: 40px 0;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
 
.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.enviar {
    width: 40%;
    margin-top: 20px;
    padding: 15px;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: rgb(183, 130, 32);
    transform: scale(1.2);

}

table {
    margin-top: 30px;
    margin-bottom: 40px;
    border: 1px solid black;
}

thead {
    background: rgb(237, 137, 6);
    font-weight: bold;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 15px 8px;
}